h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6b705c;
    font-weight: 300;
    border-color: #cb997e;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    padding: 2% 4%;
    display: inline-block;
    letter-spacing: 4px;
    transition: all 1s ease-in-out, left 1.5s ease-in-out;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6b705c;
    font-weight: 100;
    text-decoration: underline;
    letter-spacing: 2px;
    transition: all 1s ease-in-out, left 1.5s ease-in-out;
}


#instructiontext {
    font-style: normal;
    color: #656d4a;
    margin-bottom: 2%;
    transition: all 1s ease-in-out, left 1.5s ease-in-out;
}

#commands {
    align-items: center;
    position: relative;
    padding-top: 0;
    transition: all 1s ease-in-out, left 1.5s ease-in-out;
}


ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    color: #656d4a;
    margin-top: 0%;
    margin-bottom: 2%;
    list-style: none;
    text-align: start;
    display: inline-block;
    transition: all 1s ease-in-out, left 1.5s ease-in-out;
}

ul span {
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0px;
    transition: all 1s ease-in-out, left 1.5s ease-in-out;
}


p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #cb997e;
    font-style: italic;
    letter-spacing: 2px;
    margin: 1% 10%;
    padding: 0% 0% 0% 0%;
    transition: all 1s ease-in-out, left 1.5s ease-in-out;

}

div {
    position: relative;
    text-align: center;
    padding-top: 2%;
    transition: all 1s ease-in-out, left 1.5s ease-in-out;
}

body {
    border-color: #b7b7a4;
    border-style: solid;
    border-width: 2px;
    margin: 0% 8%;
    position: absolute;
    top: 30px;
    transition: all 1s ease-in-out, left 1.5s ease-in-out;
}

html {
    background-color: #ffe8d6;
}

#pictureDiv {
    position: relative;
    margin: 0% 6%;
    transition: all 1s ease-in-out, left 1.5s ease-in-out;
}

img {
    position: relative;
    width: 100%;
    min-width: 361px;
    max-width: 785px;
    padding: 0%;
    transition: all 1s ease-in-out, left 1.5s ease-in-out;
}

.attribution {
    font-size: 11px;
    letter-spacing: 1;
    font-style: normal;
    transition: all 1s ease-in-out, left 1.5s ease-in-out;
}

a {
    color: #656d4a;
}

a:visited {
    color: #656d4a;
}

a:active {
    color: #a3ad7f;
}


a:hover {
    color: #a3ad7f;
}

#heading {
    min-width: 416px;
    transition: all 1s ease-in-out, left 1.5s ease-in-out;
}

@media only screen and (max-height: 820px) {
    html {
        max-width: 440px;
    }

    body {
        margin-left: 2%;
        max-width: 436px;
        margin: 10px;
    }

    h1 {
        font-size: 20px;
        transition: all 1s ease-in-out, left 1.5s ease-in-out;
        letter-spacing: 2;
    }

    h2 {
        font-size: 16px;
        transition: all 1s ease-in-out, left 1.5s ease-in-out;
        letter-spacing: 2;
    }

    p {
        font-size: 14px;
        transition: all 1s ease-in-out, left 1.5s ease-in-out;
    }

    li {
        font-size: 14px;
        transition: all 1s ease-in-out, left 1.5s ease-in-out;
    }

    img {
        max-width: 250px;
        min-width: 100px;
        transition: all 1s ease-in-out, left 1.5s ease-in-out;
    }

    .attribution {
        font-size: 10px;
        transition: all 1s ease-in-out, left 1.5s ease-in-out;
    }

}